.button {
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
}

.primary {
  background-image: linear-gradient(102deg, #0fd064 0%, #03c75a 33%);
}

.secondary {
  color: black;
  cursor: pointer;
  border: 1px solid #03c75a;
  background: white;
}

.danger {
  background-image: linear-gradient(102deg, #ea1212 0%, #e81f1f 33%);
}

.S {
  font-size: 0.6em;
  padding: 5px 10px;
}