.button {

}

.primary {
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  //border-radius: 10px;
  background-image: linear-gradient(102deg, #0fd064 0%, #03c75a 33%);
}

.secondary {

}