.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-ttems: center;
  width: 100%;
  gap: 10px;
}

.leftActionItems {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.categoryList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.7em;
  align-self: flex-end;

  div {
    background: #afafaf;
    color: white;
    padding: 3px 6px;
    cursor: pointer;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-ttems: center;
  width: 100%;
  margin-bottom: 50px;

  .itemContainer {
    border-top: 1px solid #e6e6e6;
  }

  .itemContainer:first-child {
    border-top: 2px solid #e6e6e6;
    color: #b6b6b6;
    font-weight: bold;
  }

  .itemContainer:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.statusReturn {
  width: fit-content;
  background: #b4e796;
  padding: 4px;
}

.statusInUse {
  width: fit-content;
  background: #f7f679;
  padding: 4px;
}

.itemContainer {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  grid-template-columns: 70px 100px 150px auto 100px 100px 100px;
  font-size: 0.6em;
  align-items: center;

  & > div {
    padding: 20px 20px;
  }
}

.itemContainer:hover {
  background: #f8f8f8;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.writerPainter {
  color: #a1a1a1;
}

.barcodeImageCaptureBlock {
  width: fit-content;

  svg {
    width: 100px;
    height: 50px;
  }
}

.pointer {
  cursor: pointer;
}

.listDescription {
  font-size: 10px;
  align-self: flex-end;
}