.formContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formItem {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  grid-template-columns: 100px auto;

  label {
    align-self: center;
  }

  input {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
  }

  input:disabled {
    backdrop: #d2d2d2;
    color: #989898;
  }
}

.radioGroupWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.submitButton {
  position: sticky;
  bottom: 0;
}